NODE_ENV=development
PORT=5000

FABRIC_CHANNEL=sihchannel
FABRIC_CHAINCODE=sih-contract

BEL_MSP_ID=BELMSP
BEL_PEER_ENDPOINT=peer0.bel.sih26125.local:7051

AUDITOR_MSP_ID=AuditorMSP
AUDITOR_PEER_ENDPOINT=peer0.auditor.sih26125.local:8051

CONTRACTOR_MSP_ID=ContractorMSP
CONTRACTOR_PEER_ENDPOINT=peer0.contractor.sih26125.local:9051

ORDERER_ENDPOINT=orderer1.sih26125.local:7050

BEL_MSP_PATH=
AUDITOR_MSP_PATH=
CONTRACTOR_MSP_PATH=

JWT_SECRET=

IPFS_API_URL=
IPFS_GATEWAY_URL=

DB_URL=